<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="IntegracaoContext" connectionString="Initial Catalog=CONCILLIUS;Data Source=DESKTOP-VR7FDNU\SQLEXPRESS;MultipleActiveResultSets=True;Connection Timeout=300;Trusted_Connection=True"  providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="UrlServicoBase" value="http://localhost:61090/api/" />
    <!--<add key="UrlServicoBase" value="http://servidorAqui/ApiIntegracaoERPConcillius/api/" />-->
    <add key="CaminhoRegedit" value="SOFTWARE\\Concillius" />
  </appSettings>
</configuration>

